version: "3.8"

services:
  app:
    build: .
    container_name: spring-app
    ports:
      - "8080:8080"

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
