name: Java CI with Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Spring Boot app
        working-directory: healthapp
        run: mvn clean package -DskipTests

      - name: Build Docker image
        working-directory: healthapp
        run: docker build -t healthapp:ci .
